{% extends "socialaccount/full_screen_wrapper.html" %}

{% block title %}
Signup
{% endblock %}

{% block content_wrapper %}
    <h1>Sign Up</h1>

<p>You are about to use your {{account.get_provider.name}} account to login to
{{site.name}}. As a final step, please complete the following form:</p>

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">Sign Up</button>
</form>

{% endblock %}
